* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-container {
  align-items: center;
  background-color: #e9e2d9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.profile-email {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-btn {
  background-color: #8f3e26;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 200px;
}
